# OS & IDE Files
.DS_Store
.idea/
.vscode/
*.swp
*.swo
.env


# Python 
venv/
env/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage


# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*


# Java / Spring Boot 
target/
build/
*.class
*.jar
*.war
*.ear
.mvn/
.gradle/


# Terraform (AWS Cloud Deployment)
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json


.kafka_data/
.zookeeper_data/